spring:
  cloud:
    config:
      server:
#        git:
#          uri: https://github.com/sddf2012/configCenter.git
#          search-paths: /myms/common,/myms/business
        native:
          searchLocations: classpath:/common,classpath:/business,classpath:/gateway
    bus:
      trace:
        enabled: true

  rabbitmq:
    username: guest
    password: guest
    host: 192.168.3.6
    port: 5672

eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://localhost:7001/eureka
    fetch-registry: true
    register-with-eureka: true

management:
  endpoints:
    web:
      exposure:
        include: "*"